In [21]:
import pandas as pd

In [22]:
url = 'http://files.grouplens.org/datasets/movielens/ml-100k/u.data'
column_names =['user_id', 'item_id', 'rating', 'timestamp']
df = pd.read_csv(url, sep='\t', names=column_names)

In [23]:
df.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [24]:
def ordenar_df(df):
    df.sort_values(by=['user_id', 'item_id'], inplace=True)
    df.reset_index(drop=True, inplace=True)
    print(df.head())
    # Verificar se o user_id e o item_id não começam com 0
    if df['user_id'].min() != 0 or df['item_id'].min() != 0:
        df['user_id'] = df['user_id'] - 1
        df['item_id'] = df['item_id'] - 1
    
    return df
df = ordenar_df(df)

   user_id  item_id  rating  timestamp
0        1        1       5  874965758
1        1        2       3  876893171
2        1        3       4  878542960
3        1        4       3  876893119
4        1        5       3  889751712

In [18]:
def contar_unicos(df):
    num_user_id_unicos = df['user_id'].nunique()
    num_item_id_unicos = df['item_id'].nunique()
    return num_user_id_unicos, num_item_id_unicos

# Contar user_id e item_id únicos
num_user_id_unicos, num_item_id_unicos = contar_unicos(df)

print(f"Número de user_id únicos: {num_user_id_unicos}")
print(f"Número de item_id únicos: {num_item_id_unicos}")

Número de user_id únicos: 943
Número de item_id únicos: 1682